{% extends 'app/base.html' %} {% load static %} {% block title %}Rate us{% endblock title %}{% block main-content %}

<style>
    .checked {
        color: orange;
    }
    
    input[type="radio"] {
        -webkit-appearance: none;
    }
    
    input[type="radio"]:checked+label {
        color: orange;
    }
</style>
<div class="container my-3">
    {% if not comment %}
    <form action="" method="POST" id="form" class="shadow p-5">{% csrf_token %}
        <div class="form-group">
            <textarea name="comment" id="comment" cols="50" rows="10" placeholder="write your review..." required></textarea>
        </div><br>
        <div class="form-group">
            <input type="radio" name="rate" id="star-1" value="1">
            <label for="star-1"><i class="fa fa-star" aria-hidden="true"></i></label>
            <input type="radio" name="rate" id="star-2" value="2">
            <label for="star-2"><i class="fa fa-star" aria-hidden="true"></i></label>
            <input type="radio" name="rate" id="star-3" value="3">
            <label for="star-3"><i class="fa fa-star" aria-hidden="true"></i></label>
            <input type="radio" name="rate" id="star-4" value="4">
            <label for="star-4"><i class="fa fa-star" aria-hidden="true"></i></label>
            <input type="radio" name="rate" id="star-5" value="5">
            <label for="star-5"><i class="fa fa-star" aria-hidden="true"></i></label>
        </div><br>
        <button type="submit" class="btn btn-primary">Rate</button>
    </form>{% else %}
    <h2>Your Feedback</h2>
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 my-4 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary mb-3"><span style="text-decoration:none;color:red;">{{user|safe}}</span></strong>
            <div class="my-2">
                {% ifequal rate '1' %}
                <span><i class="fa fa-star checked"></i></span> {% endifequal %} {% ifequal rate '2' %}
                <span><i class="fa fa-star checked"></i></span>
                <span><i class="fa fa-star checked"></i></span> {% endifequal %} {% ifequal rate '3' %}
                <span><i class="fa fa-star checked"></i></span>
                <span><i class="fa fa-star checked"></i></span>
                <span><i class="fa fa-star checked"></i></span> {% endifequal %} {% ifequal rate '4' %}
                <span><i class="fa fa-star checked"></i></span>
                <span><i class="fa fa-star checked"></i></span>
                <span><i class="fa fa-star checked"></i></span>
                <span><i class="fa fa-star checked"></i></span> {% endifequal %} {% ifequal rate '5' %}
                <span><i class="fa fa-star checked"></i></span>
                <span><i class="fa fa-star checked"></i></span>
                <span><i class="fa fa-star checked"></i></span>
                <span><i class="fa fa-star checked"></i></span>
                <span><i class="fa fa-star checked"></i></span> {% endifequal %}
            </div>
            <p>{{comment}}</p>
            <div class="mb-2 text-muted">Posted on: <span style="color: seagreen;">{{time}}</span></div>
            <div class="my-2">
                <a href="/editrateus" class="btn btn-info btn-sm">Edit Review</a>
            </div>
        </div>
    </div>
    {% endif %}

</div>

<script>
    $("input[type='radio']").change(function() {
        var rates = $("input[type='radio']:checked").val();
        if (rates == '1') {
            $('label[for="star-1"]').addClass('checked');
            $('label[for="star-2"]').removeClass('checked');
            $('label[for="star-3"]').removeClass('checked');
            $('label[for="star-4"]').removeClass('checked');
            $('label[for="star-5"]').removeClass('checked');
        }
        if (rates == '2') {
            $('label[for="star-1"]').addClass('checked');
            $('label[for="star-2"]').addClass('checked');
            $('label[for="star-3"]').removeClass('checked');
            $('label[for="star-4"]').removeClass('checked');
            $('label[for="star-5"]').removeClass('checked');
        }
        if (rates == '3') {
            $('label[for="star-1"]').addClass('checked');
            $('label[for="star-2"]').addClass('checked');
            $('label[for="star-3"]').addClass('checked');
            $('label[for="star-4"]').removeClass('checked');
            $('label[for="star-5"]').removeClass('checked');

        }
        if (rates == '4') {
            $('label[for="star-1"]').addClass('checked');
            $('label[for="star-2"]').addClass('checked');
            $('label[for="star-3"]').addClass('checked');
            $('label[for="star-4"]').addClass('checked');
            $('label[for="star-5"]').removeClass('checked');
        }
        if (rates == '5') {
            $('label[for="star-1"]').addClass('checked');
            $('label[for="star-2"]').addClass('checked');
            $('label[for="star-3"]').addClass('checked');
            $('label[for="star-4"]').addClass('checked');
            $('label[for="star-5"]').addClass('checked');
        }
    })
</script>

{% endblock main-content %}