{% extends 'app/base.html' %} {% load static %} {% block title %}{{query}}{% endblock title %} {% block main-content %}

<div class="container mt-5 mb-5">
    {% if not allPosts %}
    <p class="text-muted">No search results</p>
    Your search query : <b>{{query}}</b> did not match any documents. <br> Suggestions:
    <ul>
        <li>Make sure that all words are spelled correctly.</li>
        <li>Try more general keywords.</li>
        <li> Try fewer keywords.</li>
        <li> Try different keywords.</li>
        </li>
    </ul>

    {% else %}
    <div class="col-sm-9 offset-sm-1">
        <div class="row">
            {% for product in allPosts %}
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <a href="{% url 'product-detail' product.id%}" class="btn">
                            <div class="item">
                                <img src="{{product.product_image.url}}" alt="" height="300" class="card-img-top">
                                <div class="fw-bold">{{product.title}}</div>
                                <div class="fw-bold">Rs. {{product.discounted_price}} <small class="fw-light text-decoration-line-through">{{product.selling_price}}</small></div>
                            </div>
                        </a>
                    </div>
                </div><br>
            </div> {% endfor %}
        </div>
    </div>
    {% endif %} {% endblock main-content %}